test-flows/compatibility-test-flow.json
[
    {
        "id": "99bf88cf.4254c8",
        "type": "influxdb in",
        "z": "e7ce51cb.4244",
        "influxdb": "730dac77.69ca34",
        "name": "",
        "query": "select * from test",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "fa349e8c.f740a"
            ]
        ]
    },
    {
        "id": "d1adae5b.bca4",
        "type": "inject",
        "z": "e7ce51cb.4244",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 400,
        "wires": [
            [
                "99bf88cf.4254c8"
            ]
        ]
    },
    {
        "id": "fa349e8c.f740a",
        "type": "debug",
        "z": "e7ce51cb.4244",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "eac189ce.f28be8",
        "type": "inject",
        "z": "e7ce51cb.4244",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "b397e971.522bd8"
            ]
        ]
    },
    {
        "id": "b397e971.522bd8",
        "type": "function",
        "z": "e7ce51cb.4244",
        "name": "Fields",
        "func": "msg.payload = {\n    numValue: 123.0,\n    strValue: \"message\",\n    randomValue: Math.random()*10\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 508,
        "y": 100,
        "wires": [
            [
                "51fc70d6.dc65b"
            ]
        ]
    },
    {
        "id": "51fc70d6.dc65b",
        "type": "influxdb out",
        "z": "e7ce51cb.4244",
        "influxdb": "730dac77.69ca34",
        "name": "",
        "measurement": "test",
        "precision": "",
        "retentionPolicy": "",
        "x": 698,
        "y": 100,
        "wires": []
    },
    {
        "id": "a9d0f3cc.bbceb",
        "type": "inject",
        "z": "e7ce51cb.4244",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "a284e9c0.969b08"
            ]
        ]
    },
    {
        "id": "a284e9c0.969b08",
        "type": "function",
        "z": "e7ce51cb.4244",
        "name": "Fields and Tags",
        "func": "msg.payload = [{\n    numValue: 12,\n    randomValue: Math.random()*10,\n    strValue: \"message2\"\n},\n{\n    tag1:\"sensor1\",\n    tag2:\"device2\"\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 511,
        "y": 160,
        "wires": [
            [
                "2056b637.2cdf8a"
            ]
        ]
    },
    {
        "id": "2056b637.2cdf8a",
        "type": "influxdb out",
        "z": "e7ce51cb.4244",
        "influxdb": "730dac77.69ca34",
        "name": "",
        "measurement": "test",
        "precision": "",
        "retentionPolicy": "",
        "x": 719,
        "y": 160,
        "wires": []
    },
    {
        "id": "b70228ff.b5c1c8",
        "type": "function",
        "z": "e7ce51cb.4244",
        "name": "multiple readings",
        "func": "msg.payload = [\n    [{\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n        time: new Date(\"2015-12-28T19:41:13Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }],\n    [{\n        numValue: 20,\n        randomValue: Math.random()*10,\n        strValue: \"message2\",\n        time: new Date(\"2015-12-28T19:41:14Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }]\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "f77ae03a.c8af"
            ]
        ]
    },
    {
        "id": "cc5a4f6c.7ca5",
        "type": "inject",
        "z": "e7ce51cb.4244",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 316,
        "y": 240,
        "wires": [
            [
                "b70228ff.b5c1c8"
            ]
        ]
    },
    {
        "id": "f77ae03a.c8af",
        "type": "influxdb out",
        "z": "e7ce51cb.4244",
        "influxdb": "730dac77.69ca34",
        "name": "",
        "measurement": "test",
        "precision": "",
        "retentionPolicy": "",
        "x": 711,
        "y": 239,
        "wires": []
    },
    {
        "id": "b005e63a.2cde38",
        "type": "function",
        "z": "e7ce51cb.4244",
        "name": "multiple measurement points",
        "func": "msg.payload = [\n    {\n        measurement: \"weather_sensor\",\n        fields: {\n            temp: 5.5,\n            light: 678,\n            humidity: 51\n        },\n        tags:{\n            location:\"garden\"\n        },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"alarm_sensor\",\n        fields: {\n            proximity: 999,\n            temp: 19.5\n        },\n        tags:{\n            location:\"home\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "ea1abed6.da87d"
            ]
        ]
    },
    {
        "id": "fb899d8a.42d35",
        "type": "inject",
        "z": "e7ce51cb.4244",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 320,
        "wires": [
            [
                "b005e63a.2cde38"
            ]
        ]
    },
    {
        "id": "ea1abed6.da87d",
        "type": "influxdb batch",
        "z": "e7ce51cb.4244",
        "influxdb": "730dac77.69ca34",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "730dac77.69ca34",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "test",
        "name": "",
        "usetls": true,
        "tls": "8086d718.bcda28"
    },
    {
        "id": "8086d718.bcda28",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]